.LoginContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
}

.arco-demo-form-item-required > div > label {
  white-space: nowrap;
}

div.arco-demo-form-item-required {
  flex-flow: row nowrap;
  column-gap: 20px;
}
.banner {
  flex: 1;
  border: 1px solid black;
  width: 50%;
}
